<main id="main" class="main">
    <h1>Edit</h1>
    <div class="container">

        <form #form="ngForm" class="card border-0 p-3">

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Department Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        
                        
                        <input name="department_name" placeholder="Department Name" [(ngModel)]="dptName" class="form-control" type="text">
                        <span class="small text-danger">{{nameMessage}}</span>
                        
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button (click)="onSubmit(form)" type="submit" class="btn btn-warning">Update <span
                            class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

       
    </form>
    </div>
</main>