<main id="main" class="main">

   
    <!-- <app-pagetitlecomponent pagetitle="Dashboard"></app-pagetitlecomponent> -->
   
       
    <div class="col-12 col-sm-6 col-lg-4 col-md-4">
        <div class="card border-0 rounded-3 p-4 px-3 mb-md-3 mb-2 position-relative bg-white">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center w-100">                                            
                    <img src="https://icons.veryicon.com/png/o/business/oa-attendance-icon/company-27.png" class="img-fluid me-3" width="25">
                    <div>
                        <h5 class="box-title mb-0">Company</h5>
                        <span class="text-secondary small">Manage company</span>
                    </div>
                </div>                                                                      
                <i class="fas fa-chevron-right"></i>                                        
                <a routerLink="/company" class="stretched-link" ></a>
            </div> 
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-md-4">
        <div class="card border-0 rounded-3 p-4 px-3 mb-md-3 mb-2 position-relative bg-white">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center w-100">                                            
                    <img src="https://cdn-icons-png.freepik.com/256/16160/16160483.png?semt=ais_hybrid" class="img-fluid me-3" width="25">
                    <div>
                        <h5 class="box-title mb-0">Department</h5>
                        <span class="text-secondary small">Manage Department</span>
                    </div>
                </div>                                                                      
                <i class="fas fa-chevron-right"></i>                                        
                <a routerLink="/department" class="stretched-link"></a>
            </div> 
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-md-4">
        <div class="card border-0 rounded-3 p-4 px-3 mb-md-3 mb-2 position-relative bg-white">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center w-100">                                            
                    <img src="https://e7.pngegg.com/pngimages/459/80/png-clipart-computer-icons-employee-employees-icon-blue-text.png" class="img-fluid me-3" width="25">
                    <div>
                        <h5 class="box-title mb-0">Employee</h5>
                        <span class="text-secondary small">Manage Employee</span>
                    </div>
                </div>                                                                      
                <i class="fas fa-chevron-right"></i>                                        
                <a routerLink="/employeeList" class="stretched-link" href="#"></a>
            </div> 
        </div>
    </div>    
   
</main>
